header.main{
  padding: 1rem 0;
}

h1 {
  margin: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: bold;
}
body {
}
p.subtitle{
  font-weight: bold;
  color: #369;
  margin-bottom: 0;
}
.app-wrapper{
  background: #5cc3ff;
  display: block;
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
